.card-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 3px solid;
    border-radius: 5px;    
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translate3d(2px, 0);
    transition: transform 0.20s ease-out;
}

.card-container:hover {
    transform: scale(1.02);
}

.card-image {
    width: 200px; 
    height: 150px; 
  }

  .card-link {
    text-decoration: none; 
    color: #FADCF5;
  }